
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js"></script>
	<!-- <script src="/static/upload.js"></script> -->

    <!-- bootstrap cdn -->
    <link 
    rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="/static/style.css"> -->

    <!-- fontawesome cdn -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    
    <!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <title>Data Enhancer(Business Information)</title>
    

</head>

<script type="text/javascript">
    function loading(){
        
        document.getElementById("loading").style.display = "block";

    }
</script>

<style type="text/css">
#loading {
    /* width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-emphasis-color: #F4D03F ; */
    display: none;
    }
 </style> 


  



<body class="bg-dark">

    <!-- header -->
    <header class="site-header">
        
        <!-- navbar -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="https://spectraltech.ai/images/logo.png" height="45" alt="SpectralTech AI">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                     aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse">
                    <!-- Navbar-Right-Side -->
                    <div class="navbar-nav ml-auto">
                        <a class="nav-item active nav-link font-weight-bold" href="/">Home</a>
                    </div>
                </div>

            </div>

        </nav>

    </header>

    <main role="main" style="margin-top: 100px">
        
     
  
<div class="container text-white text-center" style="padding-top: 15px; padding-bottom: 15px">
    <h1 class="cover-heading">Business Information Retrieval</h1>
</div>


<div class="bs-example col-md-6 mx-auto">
    <!-- <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
            <a href="#file" class="nav-link active font-weight-bold" style="color: gray" data-toggle="tab">PDF File</a>
        </li>
        <li class="nav-item">
            <a href="#link" class="nav-link font-weight-bold" style="color: gray" data-toggle="tab">PDF Link</a>
        </li>
    </ul> -->

    <div class="tab-content">

        <div class="tab-pane fade show active" id="file">
            <h4 class="mt-3 cover-heading text-center text-white">Upload Your File</h4>
            
            <!-- Upload form -->
            <form id="yourform" class="form-inline mt-4 mx-auto" method="post" action="/" enctype="multipart/form-data">

                <div class="form-group mx-auto">
                    <input type="file" class="text-white font-weight-bold" id="exampleInputFile" name="file">
                    <button type="submit" class="btn btn-primary font-weight-bold mx-auto" onclick="loading();">Upload</button>
                    
                </div>
                
            </form>


            <!-- {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %} -->

            

            <!-- Instructions -->
            <div class=" row mt-5">
                <div class="col-md-8 mx-auto">
                    <div class="card card-body bg-secondary text-white">
                        <h5 class="text-center">Instructions</h5>
                        <ul>
                        <li>Select the file by clicking on the <b>Choose file</b> option.</li>
                        <li>Make sure you select the file with <b>.json</b> extension.</li>
                        <li>Finally upload your file by clicking on <b>Upload</b> button.</li>
                        </ul>

                    </div>
                </div>

            </div>

            <div class="row mt-5">
            <div class="container text-white" id="loading"><h4>File Sucessfully given to model!! Please wait results will be fetched in 2-3 mins...</h4></div>  
        </div>
        </div>

    </div>

</div>




    </main>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    
    
</body>

</html>